body {
    background-color:#eaeaea;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    margin: 0;
    padding: 4px;
    border-top: 2px solid #565656;
    border-bottom: 2px solid #565656;
    font-size: 4em;
    padding-left:125px;
    height: 100px;
    font-family: 'Anton', sans-serif;
    color: #565656;
    text-shadow: 2px 2px 8px #565656;
}
#drawing {
    position: absolute;
    width: 260px;
    height: 260px;
    top: -70px;
    left: -60px;
    opacity: .25;
    clip: rect(0px, 260px, 180px, 0px);
    z-index: -1;
}
#container {
    width: 80%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 8px;
    box-shadow: #565656 1px 1px 6px;

    color: #565656;
    transition: background-color .7s;
}

.highlight-add {
    background-color: rgb(232, 255, 232);
}
.highlight-delete {
    background-color: rgb(255, 222, 222);
}

table {
    font-size: 1.8em;
    width:100%;
    border-collapse: collapse;
}
th {
    color: #000;
}

thead tr {
    border-bottom: 2px solid #565656;
    text-align:left;
}
/* .x {
    box-shadow: rgb(49, 138, 255) 3px 3px 12px;
} */
/* .highlight {
    animation-duration: 3s;
    animation-name: highlight;
}
@keyframes highlight {
    0%   { box-shadow: #565656 1px 1px 6px; }
    1% { box-shadow: rgb(49, 138, 255) 3px 3px 12px; }
    70% { box-shadow: rgb(49, 138, 255) 3px 3px 12px; }
} */
tbody td {  
    padding:6px;
}
.rank {
    text-align:right;
    width:50px;
    padding-right:10px;
    font-weight:bold;
}
.date {
    width:160px;
}
.score {
    text-align:right;
    padding-right:10px;
    width:75px;
}
@media only screen and (max-width: 732px) {
    header {
        padding: 0;
        padding-left:40px;
        font-size: 1.4em;
        height: 25px;
        border: 0;
        text-shadow: 0px 0px;
        opacity: .9;
    }
    #drawing {
        clip: rect(0px, 260px, 260px, 0px);
    }
    .rank {
        width: 30px;
    }
    .date {
        width: 100px;
    }
    .score {
        width: 50px;
    }
    #container {
        width: 90%;
        margin-top: 10px;
    }
    table {
        font-size: 1.1em;
    }
}
